
<div class="contenair">
  <div class="row1">

    <div class="image">
      <img src="logoP.png" alt="">
    </div>

    <div class="colDiv">

      <!-- Colonne pour le porteur de projet -->
      <div class="col">

        <div class="img">
          <img src="ideeProjet.png" alt="">
        </div>
        <p>
          Vous avez des idées? Mais pas de ressources nécessaires pour leur concrétisation? Proposer les en tant que
        </p>
        <div class="a">
          <a  (click)="choix('IDEE')">Porteur de projet -> </a>
        </div>

      </div>

      <!-- Colonne pour le gestionnaire  -->
      <div class="col">


        <div class="img">
          <img src="gestionnaire.png" alt="">
        </div>
        <p>
          Vous avez des compétences en gestion de projet informatique et souhaitez créer des projets d’idées réelles? Continuez en tant que
        </p>
        <div class="a"  (click)="choix('GESTIONNAIRE')">
          <a>Gestionnaire -> </a>
        </div>

      </div>

      <!-- Colonne pour le contributeur -->
      <div class="col">


        <div class="img">
          <img src="developpers.png" alt="">
        </div>
        <p>
          Vous avez des compétences techniques en développement et souhaitez contribuer à l’élaboration de projets?Continuez en tant que
        </p>
        <div class="a"  (click)="choix('CONTRIBUTEUR')">
          <a>Contributeur - </a>
        </div>

      </div>

    </div>

  </div>


  <div class=" row2">
        <p>Vous avez deja un compte ? </p>
        <a routerLink="/login">Connectez-vous.</a>
  </div>
</div>
