<div class="header"> 
    <header class="entete">
        <div class="left-section">
            <div class="logo">
                <img src="image 40.png" alt="logo collabdev" class="logo-image">
                
            </div>
            <h1 class="slogan">Proposer, Gérer, Contribuer</h1>
        </div>
        
        <div class="bouton-section">
            <div class="buttons">
                <button class="button1">
                    <a routerLink="/login">Se connecter</a>
                </button>
                <button class="button2">
                    <a routerLink="/inscription">S'inscrire</a>
                </button>
            </div>
        </div>
        
        <div class="separator"></div>
        
        <div class="right-section">
            <p class="copyright"><b>© 2025 Collabdev</b></p>
            <a href="#" class="contact-link">Nous contacter</a>
        </div>
    </header>
</div> 