<div class="contenair">
  <div class="row1">

    <div class="image">
      <img src="ideeProjet.png" alt="">
    </div>
    <div class="right">
      <img src="logoP.png" alt="">
      <h1>Porteur de projet</h1>
      <ul>
        <li>Proposez vos idées</li>
        <li>Donnez chance à votre idée de devenir concret</li>
      </ul>
      <form [formGroup]="conditionUtilisation" (ngSubmit)="valider()" >
        <input type="checkbox" formControlName="condition" value="true" id="condition">
        <label for="condition">Accepter les <a routerLink="/choix" routerLinkActive="router-link-active" >conditions générales d’utilisation</a>.</label><br>
        <input type="submit" value="S'inscrire" [disabled]="!conditionUtilisation.valid">
      </form>
    </div>

  </div>


  <div class=" row2">
        <p>Vous avez deja un compte ? </p>
        <a routerLink="/login">Connectez-vous.</a>
  </div>
</div>
