.contenair {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 92vh;
  background-color: #FFFFFF;
}
.row1{
  width: 1123px;
  margin: 10px auto;
  border-radius: 10px;
  /* border: solid 1.5px #334DAA; */
  height: 70vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #FFFFFF;
  /* padding: 5px; */
}

.image{
  width: auto;
  height: auto;
  margin: 10px auto;
  /* padding: 5px ; */
  /* background-color: #d9d9d9; */
  border-radius: 10px;
  box-shadow: 0 0 10px 3px #a1a1a1;
}
.row1 img {
  width: 100%;
  height: 98%;
}
.right {
  width: 400px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 10px auto;
  /* border: solid 1.5px #334DAA; */
  box-shadow: 0 0 10px 3px #a1a1a1;
}
.right img {
  width: 300px;
  height: 100px;
  margin: 10px auto;
}
.right h1 {
  font-size: 32px;
  font-weight: 700;
  color: #000;
  text-align: center;
  margin: 10px auto;
}
.right ul {
  /* list-style-type: none; */
  padding: 0;
  margin: 10px auto;
}
.right ul li {
  font-size: 15px;
  color: #333;
  text-align: left;
  margin-left: 20%;
  margin-bottom: 10px;
  margin-top: auto;
}
.right form input[type="submit"] {
  background-color: #334DAA;
  color: #FFFFFF;
  font-size: large;
  width: 293px;
  height: 42px;
  border-radius: 12px;
  border: none;
  text-align: center;
  cursor: pointer;
  margin: 10px auto;
}
.right form input[type="submit"]:hover {
  background-color: #2a3f8c;
  transition: background-color 0.3s ease;
}
.row1 form input[type="checkbox"] {
  width: 20px;
  height: 20px;
  /* font-size: larger; */
  color: #334DAA;

  margin-left: 15%;
  cursor: pointer;
}




.row2 {
  width: 469px;
  margin: 10px auto;
  border-radius: 10px;
  /* border: solid 1.5px #334DAA; */
  height: 16%;
  margin-bottom: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding:  1px auto;
  background-color: #FFFFFF;
  box-shadow: 0 0 10px 3px #a1a1a1;
  border-radius: 10px;
}
.row2 p {
  font-size: small;
  margin: 2px auto;
}
.row2 a {
  color: #334DAA;
  cursor: pointer;
}
