<div class="heade"> 
    <header class="entete">
        <div class="logo">
            <img src="logoP.png" alt="logo collabdev">;
        </div>
        <nav>
            <div class="left">
            <h1>Proposer, Gerer, Contribuer</h1>
            <button class="button1"> <a href="Se connecter">Se connecter</a></button>;
            <button class="button2"> <a href="S'inscrire">S'inscrire</a></button>;
            </div>
            <div class="right">
                <p><b>©2025 Collabdev</b></p>
                <a href="Nous contacter">Nous contacter</a>
            </div>
        </nav>

    </header>
</div>
