
<div class="contenair">
  <div class="row1">
    <!-- Pour le retour a l'accueil -->
    <!-- <div class="retour">
      <a routerLink="/login"><i class="fa-solid fa-arrow-left"> <- </i></a>
    </div> -->
    <div class="image">
      <img src="logoP.png" alt="">
    </div>
    <div class="form">
      <form [formGroup]="formContenu" (ngSubmit)="goToSuivant()" >
        <div *ngIf="erreur" class="alert alert-danger">
          {{ erreur }}
        </div>
        <div class="form-group">
          <input type="text" id="nom" formControlName="nom" required placeholder="Nom">
        </div>
        <div class="form-group">
          <input type="text" id="prenom" formControlName="prenom" required placeholder="Prénom">
        </div>
        <div class="form-group">
          <input type="email" id="email" formControlName="email" required placeholder="Email">
        </div>
        <div class="form-group">
          <input type="password" id="password" formControlName="password" required placeholder="Mot de passe">
        </div>
        <div class="radio">
          <input type="radio" id="sexe" formControlName="sexe" value="H" checked> Homme
          <input type="radio" id="sexe" formControlName="sexe" value="F"> Femme
        </div>
        <input type="submit" value="Suivant ->" >
      </form>
    </div>
  </div>


  <div class=" row2">
        <p>Vous avez deja un compte ? </p>
        <a routerLink="/login">Connectez-vous.</a>
  </div>
</div>
