/* You can add global styles to this file, and also import other style files */
body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}



.footer {
  text-align: center;
  background-color: #334DAA;
  padding: 10px;
  height: 8vh;
  color: #FFFFFF;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.footer p span {
  padding-left: 30px;
}
